@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100svh;
}

img {
    pointer-events: none;
    user-select: none;
  }


.ant-float-btn-icon{
     width: unset !important;
    height: unset !important;
}

  
